@page "/"

<PageTitle>Index</PageTitle>

<h1 style="font-size:30px;">Hello!</h1>
<a href="formindex" style="font-size:25px; color:darkblue" target="_self">Form sayfasina gitmek icin buraya tiklayiniz!</a> 
<br /> <br />
<Counter></Counter>
<br /> <br />
<FormData></FormData>

