@page "/"

<PageTitle>Index</PageTitle>

<h1 style="font-size:30px;">Hello!</h1>
<hr size="8" width="100%" style="color: darkblue">
<a href="formindex" style="font-size:25px; color:darkblue" target="_self">Click here to go Form Page!</a> 
<br /> <br />
<hr size="8" width="100%" style="color: darkblue">
<FormIndex></FormIndex>
<hr size="8" width="100%" style="color: darkblue">


