@inherits LayoutComponentBase

<div class="page" >
    <div style="background-image:none; background-color:cadetblue" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div style="background-color:cadetblue" class="top-row px-4">
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
